{% extends "base.html" %}


{% block page_title %}
    AccountCreateOrUpdate
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <form class="form form-horizontal" role="form" method="post"

                  action="/API/v1/AccountCreateOrUpdate/">


                <legend>AccountCreateOrUpdate</legend>

                <table>

                    <tr>
                        <td>UUID:</td>
                        <td>{ form.uuid() }</td>
                    </tr>

                    <tr>
                        <td>email:</td>
                        <td> { form.email() }</td>
                    </tr>

                    <tr>
                        <td>Prefix:</td>
                        <td>{ form.prefix() }</td>
                    </tr>

                    <tr>
                        <td>Company Name:</td>
                        <td>{ form.companyName() }</td>
                    </tr>

                    <tr>
                        <td>Credits:</td>
                        <td>{ form.credits() }</td>
                    </tr>

                    <tr>
                        <td>TXN Ref:</td>
                        <td>{ form.txn_ref() }</td>
                    </tr>

                </table>

                { form.csrf_token }

                <p>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-darkened">
                        Send
                    </button>
                </div>

                </p>


            </form>
        </div>
    </div>

{% endblock %}
