{% macro render_prefix(prefix) %}
    {% with %}
    {% set plength=prefix.prefix|length %}
    {% if prefix.is_upc() %}
        {{ prefix.prefix[1:plength] }}
    {% else %}
        {{ prefix.prefix }}
    {% endif %}
    {% endwith %}
{% endmacro %}
{% macro render_range(prefix) %}
    {% with %}
    {% set range=prefix.get_range() %}
    {% set plength=prefix.prefix|length %}
    {% if prefix.is_upc() %}
        <b>{{ range[0][1:plength] }}</b><span style="color:#F26334">{{ range[0][plength:12] }}</span>{{ range[0][12:13] }}
        -
        <b>{{ range[1][1:plength] }}</b><span style="color:#F26334">{{ range[1][plength:12] }}</span>{{ range[1][12:13] }}
    {% else %}
        <b>{{ range[0][0:plength] }}</b><span style="color:#F26334">{{ range[0][plength:12] }}</span>{{ range[0][12:13] }}
        -
        <b>{{ range[1][0:plength] }}</b><span style="color:#F26334">{{ range[1][plength:12] }}</span>{{ range[1][12:13] }}
    {% endif %}
    {% endwith %}
{% endmacro %}

{% macro render_starting_number(prefix) %}
    {% with %}
    {% set sn=prefix.starting_from %}
    {% set plength=prefix.prefix|length %}
    {% if sn %}
        {% if prefix.is_upc() %}
            <b>{{ sn[1:plength] }}</b><span style="color:#F26334">{{ sn[plength:12] }}</span>{{ sn[12:13] }}
        {% else %}
            <b>{{ sn[0:plength] }}</b><span style="color:#F26334">{{ sn[plength:12] }}</span>{{ sn[12:13] }}
        {% endif %}
    {% else %}
    <b>No starting number</b>
    {% endif %}
    {% endwith %}
{% endmacro %}

{% macro render_starting_number_gln(prefix) %}
    {% with %}
    {% set sn=prefix.starting_from_gln %}
    {% set plength=prefix.prefix|length %}
    {% if sn %}
        {% if prefix.is_upc() %}
            <b>{{ sn[1:plength] }}</b><span style="color:#F26334">{{ sn[plength:12] }}</span>{{ sn[12:13] }}
        {% else %}
            <b>{{ sn[0:plength] }}</b><span style="color:#F26334">{{ sn[plength:12] }}</span>{{ sn[12:13] }}
        {% endif %}
    {% else %}
    <b>No starting number</b>
    {% endif %}
    {% endwith %}
{% endmacro %}

{% macro render_range_breadcrumb(prefix) %}
    {% with %}
    {% set range=prefix.get_range() %}
    {% set plength=prefix.prefix|length %}
        {% if prefix.is_upc() %}
        <b>{{ range[0][1:plength] }}</b>{{ range[0][plength:12] }}<span style="color:#ffffff">{{ range[0][12:13] }}</span>
        -
        <b>{{ range[1][1:plength] }}</b>{{ range[1][plength:12] }}<span style="color:#ffffff">{{ range[1][12:13] }}</span>
        {% else %}
        <b>{{ range[0][0:plength] }}</b>{{ range[0][plength:12] }}<span style="color:#ffffff">{{ range[0][12:13] }}</span>
        -
        <b>{{ range[1][0:plength] }}</b>{{ range[1][plength:12] }}<span style="color:#ffffff">{{ range[1][12:13] }}</span>
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro render_gtin(gtin, plength, kind=None, enable_leading=False) %}
    {% with %}
    {% set gtin13=gtin[1:14] %}
    {% if kind == 'EAN13' %}
        {% if enable_leading %}{{ gtin[0:1] }}{% endif %}<b>{{ gtin13[0:plength] }}</b>{{ gtin13[plength:12] }}<b>{{ gtin13[12:13] }}</b>
    {% elif kind == 'UPCA' %}
        <b>{{ gtin13[1:plength] }}</b>{{ gtin13[plength:12] }}<b>{{ gtin13[12:13] }}</b>
    {% else %}
        {{ gtin[0:1] }}<b>{{ gtin13[0:plength] }}</b>{{ gtin13[plength:12] }}<b>{{ gtin13[12:13] }}</b>
    {% endif %}
    {% endwith %}
{%- endmacro -%}
{% macro render_gtin13(gtin13, plength, kind='EAN13', case=False) %}
    {% with %}
    {% if kind == 'EAN13' or case %}
        <b>{{ gtin13[0:plength] }}</b> <span style="color:#F26334">{{ gtin13[plength:12] }}</span> <span id="cd">{{ gtin13[12:13] }}</span>
    {% elif kind == 'UPCA' %}
        <b>{{ gtin13[1:plength] }}</b> <span style="color: #F26334">{{ gtin13[plength:12] }}</span> <span id="cd">{{ gtin13[12:13] }}</span>
    {% endif %}
    {% endwith %}
{%- endmacro -%}
{% macro render_package_level(product) -%}
    {% if product.package_level_id == 10 -%}Transport load
    {% elif product.package_level_id == 20 -%}Mixed module
    {% elif product.package_level_id == 40 -%}<img src="/static/wizard/shipper.png" alt="Display shipper" style="width:30%;" class="icon-img">
    {% elif product.package_level_id == 70 -%}<img src="/static/wizard/pos.png" alt="Each" style="width:30%;" class="icon-img">
    {%- elif product.package_level_id == 60 -%}<img src="/static/wizard/pack.png" alt="Pack" style="width:50%;" class="icon-img">
    {%- elif product.package_level_id == 50 -%}<img src="/static/wizard/case.png" alt="Case" style="width:50%;" class="icon-img">
    {%- else  -%}<img src="/static/wizard/pallet.png" alt="Pallet" style="width:50%;" class="icon-img">{%- endif %}
{%- endmacro %}
{% macro render_package_level_as_text(product) -%}
    {% if product.package_level_id == 10 -%}Transport load
    {% elif product.package_level_id == 20 -%}Mixed module
    {% elif product.package_level_id == 40 -%}Display Shipper
    {% elif product.package_level_id == 70 -%}Each
    {%- elif product.package_level_id == 60 -%}Pack
    {%- elif product.package_level_id == 50 -%}Case
    {%- else  -%}Pallet{%- endif %}
{%- endmacro %}