<fieldset class='fieldset' id='dimen_fs'>
    <legend>Dimensions</legend>
    <div class="row">
        <div class='col-xs-6'>
            {# render_field_with_errors4_help(form.depth, _label=form.depth.field_human) #}
        </div>
        <div class='col-xs-6'>
            {# render_field_with_errors4_help(form.depth_uom, _label=form.depth_uom.field_human) #}
        </div>
    </div>
    <div class="row">
        <div class='col-xs-6'>
            {# render_field_with_errors4_help(form.width, _label=form.width.field_human) #}
        </div>
        <div class='col-xs-6'>
            {# render_field_with_errors4_help(form.width_uom, _label=form.width_uom.field_human) #}
        </div>
    </div>
    <div class="row">
        <div class='col-xs-6'>
            {# render_field_with_errors4_help(form.height, _label=form.height.field_human) #}
        </div>
        <div class='col-xs-6'>
            {# render_field_with_errors4_help(form.height_uom, _label=form.height_uom.field_human) #}
        </div>
    </div>
</fieldset>